@charset "UTF-8";

body{
    background-color: rgb(197, 248, 232);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:green ;
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(62, 117, 62);
}

.basico{
    color: green;
}

.intermediario{
    color: yellowgreen;
}

.avançado{
    color: red;
}

.destaque{
    background-color:yellow;
}